
.header {
    display: flex;
}



.typewriter h1 {
    
    color: rgb(8, 7, 7);
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(3, 2, 0) }
  }

  .css_button
  {
      
      transform: translate(-50%, -50%);
      width: 180px;
      height: 50px;
      background: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      line-height: 50px;
      color: rgb(0, 0, 0);
      font-size: 20px;
      font-family: verdana;
      letter-spacing: 4px;
     
  /*    border-radius: 20px; */
  }
  
  .css_button:before,
  .css_button:after,
  .ef:before,
  .ef:after
  {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background: rgb(0, 0, 0);
      transition: 1s;
      mix-blend-mode: hue;
  }
  
  .css_button:before
  {
      top: -2px;
      left: -2px
  }
  .css_button:after
  {
      top: -2px;
      right: -2px;
  }
  .ef:before
  {
      bottom: -2px;
      left: -2px
  }
  .ef:after
  {
      bottom: -2px;
      right: -2px
  }
  
  .css_button:hover:before,
  .css_button:hover:after,
  .css_button:hover span:before,
  .css_button:hover span:after
  {
      width: calc( 180px/2 );
      height: calc( 50px/2 )
  }

    /* ============== Meadia Queries ( tablety ) ========= */
    @media screen and (max-width: 1024px){
        .header {
            flex-direction: row;
            gap: 2.5rem;
            
        }
        
        .typewriter h1 {
            font-size: large;
            
            
        }
     }
     
     /* ============== Meadia Queries ( mobil ) ========= */
     @media screen and (max-width: 600px){
        .header {
            flex-direction: row;
            gap: 2.5rem;
            
        }
        
        .typewriter h1 {
            font-size: large;
            
            
            
        }
     }